<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title + " - " if title | length > 0 else "" }} FutureEthics</title>
        <meta name="description" content="{{ description | safe }}">
        <link rel="stylesheet" href="/css/styles.css">
        <script async src="https://tally.so/widgets/embed.js"></script>
    </head>
    <body>
        {% include "partials/_nav.njk" %}
        <main class="main">{{ content | safe }}</main>
        <footer />
    </body>
</html>
