body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 80ch;
    height: 100vh;
}

h1 {
    font-size: 32px;
}

h2 {
    font-weight: normal;
    font-size: 24px;
}

a {
  text-decoration: none !important;
  color: black;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

ul, ol {
    padding-left: 1.5em;
}

ul, ol > li {
    padding-bottom: 12px;
}

main {
    padding: 0 0 24px;
    flex-grow: 2;
}

.nav ul {
    margin: 0;
    padding: 2em 0;
    display: flex;
    list-style: none;
    border-bottom: 1px solid rgb(237, 237, 237);
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: left;
    align-items: center;
}

.nav ul li.wordmark a{
    font-size: 24px;
    font-weight: 800;
    color: color(srgb 0.9516 0.2689 0.338);
}

.tally {
    background-color: rgb(237, 237, 237);
    border-radius: 8px;
    padding: 32px 0 16px;
    margin-bottom: 24px;
}

footer {
    border-top: 1px solid rgb(237, 237, 237);
    font-size: 14px;
    padding: 2em 0;
    color: #666;
}


@media all and (max-width: 800px) {
    .nav ul {
        padding: 24px;
    }

    main {
        padding: 0 24px;
    }

    footer {
        padding: 24px;
    }

    ul, ol > li {
        padding-bottom: 1.5em;
    }
}