/* styles.css */

@media all and (min-width: 400px) {
    .wrapper { display: flex; flex-direction: column }
    .nav { order: 1 }
    .logo { order: 2}
    .subtitle { order: 3 }
    .header { display: flex; justify-content: space-between; align-items:left; }
    .logo img { max-width: 70%; min-width: 150px }
    .main { order: 4;  padding: 1em; width: 100%}
}


@media all and (min-width: 800px) {
    .wrapper { display: flex; }
    .header { display: flex; justify-content: space-between; align-items: center; padding: 1em 2em; flex-direction: column }
}


body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    margin: 0;
    background-color: lightgoldenrodyellow;
}

a {
  text-decoration: none !important;
  color: black;
  background-color: yellowgreen;
  padding: 10px;
  border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.header a {
    text-decoration: none;
}

.logo {
    width: 10%;
    margin-left: 2em;
    padding: 1em;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.site-title {
    padding: 2em;
    margin-left: 3%;
}

.subtitle {
    margin-top: -1rem;
}
.nav ul {
    margin: 10;
    padding: 0;
    display: flex;
    list-style: none;
    background-color: yellowgreen;
    font-family: system-ui, sans-serif; 
    font-weight: 800;
    flex-wrap: wrap;
    justify-content: left;
}

.nav ul li {
    margin-left: 45px;
    padding: 10px;
}

.main {
    margin-left: 35%;
    margin-top: -20%;
    width: 50%;
}

.main li {
    padding: 5px;
}

.tally {
    margin-top: 50px;
    margin-left: -25px;
}