   <div class="logo">
        <a href="/" style="background-color: transparent;"><img src="/img/logo.png" alt="Future Ethics logo"></a>
    </div>
    <div class="site-title">
    <p class="subtitle">Build great products.</p> 
    <p class="subtitle">With or without AI.</p>
    <p><a href="/contact">Ask us how</a></p>
    </div>