<nav class="nav">
	<ul>
		<li><a class="wordmark" href="/"><img src="/img/logo.png"> FutureEthics</a></li>
	</ul>
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="/what-we-do">What We Do</a></li>
		<li><a href="/values">Our Values</a></li>
		<li><a href="/book">Book</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</nav>